[Unit]
Description=Fix Archer T4U Driver After Kernel Update
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '[ -f /lib/modules/$(uname -r)/updates/dkms/88x2bu.ko.zst ] || ~/archer-t4u-linux-driver/fix_driver.sh'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

